<div class="container" ng-controller="GenerateBatchNumCtrl as search">
   <div>
      <p></p>
   </div>
   <div id="search" >
      	
      <div class="row" id="batch">
         <div class="col-sm-5">
            <div class="panel panel-default" id="panelid">
               <div class="panel-heading" id="batchnumpnl">
                  <p id="batchnumtex">Please select number of batch number to	generate</p>
                  <button type="submit" id="batchnumberbtn"
                     ng-click="generatebatchNumbers()" class="btn btn-block btn-lg">
                  <span id="glbnbtntxt"> Generate Batch Numbers</span>
                  </button>
               </div>
            </div>
         </div>
         <div class="col-sm-2"></div>
         <div class="col-sm-5">
            <div class="panel panel-default">
               <div class="panel-heading" id="lbpnl">
                  <p id="slbtxt">Last Batch Number
                  <input type='text' size=10 ng-model="lastBatchNumber" readonly value="{{lastBatchNumber}}" ng-init="init()">
                  </p>
                  <button type="button" id="showbatchbtn"
                     ng-click="getlastbatchNumbers()" class="btn btn-block btn-lg">
                  Show Last Batch List</button>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-2" ng-show="isBatchExportEnable" style="float:right">
         <button type="button" id="exportBatchNumber" ng-click="batchNumberExportToPdf()" class="btn btn-block btn-sm">Print</button>	 
      </div>
      <div>

         <p><br/></p>
      </div>
      <div class="generic-container">
         <div ng-init="checked=false" ng-if="checked" ui-grid="gridOptions"  ui-grid-exporter=""
            ui-grid-resize-columns="" ui-grid-edit="" class="grid"></div>
      </div>
   </div>

   <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" class="container">
               <div class="jumbotron ">
                  <div>
                     <h4 class="text-center">{{detail.appName}}</h4>
                  </div>
               </div>
               <!-- <div ng-include="'AddReciept.html'" onload="id=detail.id"  ng-init="id=detail.id" ></div> -->
               <!-- <div ng-include="AddReciept.html" onload="id=detail.id"  ng-init="id=detail.id" ></div> -->
               <div ng-include="'AddReciept.html'"  ></div>
            </div>
         </div>
      </div>
   </div>
</div>